@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Raleway", sans-serif;  
}
body{
    background-image: url(img/woman-code.png);
    background-size:cover;
    background-repeat: repeat;
    background-position: center;
    object-fit: cover;
    background-attachment: fixed;

}
.banner{
    align-content: center;
    Height: 605px; 
    border: 0px 0px 1px 0px;
    border-bottom-style: solid;
    border-color: #33A8DB;
    background-color: rgb(12, 12, 29);
    background-image: url(img/banner.png);
    text-align: center;
    color: #33A8DB; 
}
.banner .banner-content{
    align-content: center;
    margin: auto;
    width: 50%;
    position: relative;
    height: 393px;
       
}
.banner-content .logo{
    margin: auto;
    width: 268px;
    height: 268px;
    left: 121px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);

}
.logo img{
    position: relative;
    top: 25px;
    margin:auto;
    width: 248px;
    height: 214px;
    border-radius: 50%;
  
}
.banner-content h1{
    margin: 20px;
}
.banner-content p{
    color: white;
    margin: 20px;
    width: auto;
}
.banner-content button{
    color: #33A8DB;
    border: 2px;
    border-style: solid;
    border-color: #33A8DB;
    background-color: transparent;
    width: 326px;
    height: 57px;
    font-size: 16px;
    font-weight: 900px;
    line-height: 18.78px;
    letter-spacing: 21%;
    text-align: center;
}
/* Ends header*/

main{
    margin: 0px;
    
}
main #course-content{
    align-content: center;
    margin: auto;
    width: auto;
    line-height: 20px;
    height: 500px;
    text-align: center;
    box-sizing: border-box;
    background-color: black;
}
#course-content h2{
    color:#33A8DB;
    text-align: center;
}
#course-content p{
    color: white;
    margin: 20px auto;
    width: 792px;
    text-align: center;
}
#course-content .modules-list{
    margin: auto;
    width: 535px;
}
.modules-list .module{
    margin:20px auto;
    width: 535px;
    height: 51px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    text-align: center;
    align-content: center;
    color: white;
    box-shadow: inset;
}
.module span{
    color: #33A8DB;
}
/* Ends course content*/

main #transform-world{
    margin: auto;
    height: 363px;
    align-content: center;
    border: 0px 0px 1px 0px;
    border-color: #33A8DB;
    border: 0px 1px 1px 0px;
    border-bottom-style: solid;
    border-top-style: solid;
}
#transform-world p{
    position: relative;
    left: 198px;
    align-content: center;
    width: 244px;
    height: 141px;
    color: white;
    text-shadow:3px 3px #33A8DB;
    font-weight: 900px;
    font-size: 40px;
    line-height: 46.96px; 
}
/*Ends transform-world section*/

#professional-challenges{
    background-color: black;
    align-content: center;
    text-align:center;
    width: auto;
    height: 650px;
    color: #33A8DB;
    border: 0px 0px 1px 0px;
    border-bottom: #33A8DB;
    border-bottom-style: solid;
}
#professional-challenges img{
    width: 659px;
    height: 429px;
}
#professional-challenges h2{
    font-size: 32px;
    margin: 10px auto 10px;
    width: 477px;
    height: 76px;
}
#professional-challenges p{
    margin: auto;
    width: 792px;
    height: 76px;
    text-align: center;
    size: 16px;
    color: white;
}
/*Ends profession-challenges*/
footer{
    margin: auto;
    border-style: solid;
    height: 150px;
    align-content: center;
    text-align: center; 
    background-color: black;
    background-image: linear-gradient(black, black 40%,#33a8db 250%);
}
footer .dio-logo{
    align-content: center;
    text-align: center;
    width: 310px;
    height: 44px;
}
footer p{
    align-content: center;
    margin: auto;
    width: 400px;
    height: 19px;
    text-align: center;
    color: white;
}
footer p a{
    color: #33A8DB;
}
